mat-card {
    max-width: 500px;
    margin:auto
}

mat-card-avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card-actions {
    display: flex;
}

mat-card-actions .flex-spacer {
    width: 100%;
}